* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: $bg-color;
  color: $text-color;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}