@use "../base/variables" as var;

.btn-blue {
  background: var.$blue-dark;
  color: white;
  padding: .8rem 2rem;
  border-radius: 4px;
  display: inline-block;
  transition: .3s;
  &:hover {
    background: var.$yellow;
    color: var.$blue-dark;
  }
}